img {
    height: 30em;
}

table {
    background-color: white;
}

th {
    display: grid;
    justify-content: center;
}

tr {
    display: grid;
    justify-content: center;
}

h2 {
    margin-top: 1em !important;
}

td {
    border: none !important;
    width: 100%;
}

.video-shortcode {
    max-width: 100%;
    height: auto;
  }
  
